body{
    background-image: url(https://odgers-prod-neu-cdn-tm-endpoint.azureedge.net/media/1232/wealthmanagement.jpg)
    }

.tile{
    width: 180px auto;
    height: 130px;
    border: 15px Solid; 
    padding: 10px;
    margin: 50px;
    float: left;
    max-width: 900px;
    margin: 10px auto;
    
}

.lightgray{
    background-color: lightgray;
}

.darkgray{
    background-color: darkgray;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.white{
    background-color: white;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.gold{
    background-color: azure;
}