body{
    background-image: url(https://odgers-prod-neu-cdn-tm-endpoint.azureedge.net/media/1232/wealthmanagement.jpg)
    }
#schedule{
    background-color: blue;
}
.tile{
    background-image: url()
}