body{
    background-image: url(https://odgers-prod-neu-cdn-tm-endpoint.azureedge.net/media/1232/wealthmanagement.jpg)
    }
#schedule{
    background-color: blue;
}
.tile{
    background-color: blue;
    width: 170px;
    height: 140px;
    border: 5px Solid; 
    padding: 10px;
    margin: 50px;
    float: left;
    max-width: 900px;
    margin: 10px auto;
    
}
#picture{
    width: 320px
}