body{
    background-image: url(https://odgers-prod-neu-cdn-tm-endpoint.azureedge.net/media/1232/wealthmanagement.jpg)
    }
#schedule{
    background-color: blue;
}
.tile{
    background-color: blue;
    width: auto;
    border: auto Solid; 
    padding: 20px;
    margin: 50px;
}